/* CSS for HTML used by index.php and other
 PHP files' HTML output
*/

body {
	background-color: lightblue;
}

body * { /* center all elements in body */
	margin-left: auto;
	margin-right: auto;
}

/* ---- general font stuff ---- */
body, div, table, td, form {
	font-family: Verdana, Arial, "Times New Roman";
	font-size: 12pt;
}
/* ---- end general font stuff ---- */

/* ---- general table stuff ---- */
table {
	border: none;
}

table.patient_list_table td {
	width: 120px;
}

/* ---- END general table stuff ---- */

/* ---- stuff for top menu ---- */
div.top_menu {
	width: 90%;
	position: relative;
	margin-top: 0px;
}

div.welcome_user {
	position: relative;
	margin-right: 30px;
}

input.logout_button {
	width: 200px;
	height: 20px;
	border: none;
	background-color: darkslategray;
	color: orange;
	font-weight: bold;
}

/* ---- END stuff for top menu ---- */

/* ---- styles for color coding patient information ---- */

#patient_green {
	background-color: limegreen;
}

#patient_yellow {
	background-color: yellow;
}

#patient_orange {
	background-color: orange;
}

#patient_red {
	background-color: red;
}
/* ---- END styles for color coding patient information ---- */

/* ---- stuff to make patient list icons work like buttons ---- */
div.patient_icon {
	width: 100px;
	height: 124px;
	text-align: center;
	border-style: solid;
	border-color: darkgray;
	border-width: 4px;
}

div.patient_name {
	position: relative;
	margin-top: 20px;
	font-size: 14pt;
}

div.patient_pain_number {
	position: relative;
	margin-top: 10px;
	font-size: 38px;
	font-weight: bold;
}

div.patient_submit_div {
	position: absolute;
	margin-top: 0px;
	z-index: 3;
}

.patient_submit_button {
	z-index: 3;
	width: 100px;
	height: 124px;
	border: none;
	background: none;
}

/* ---- END stuff to make patient list icons work like buttons ---- */

/* ---- stuff for patient details table ---- */
table.patient_list th {
	font-weight: bold;
}

table.patient_list td {
	text-align: center;
}
/* ---- END stuff for patient details table ---- */
